/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    font-size: 16px;
    font-family: $defaultFont;
    font-weight: $normal;
    color: $text;
    background-color: #fff;
 
}



h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


header {
    background-color: $primary;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}






nav {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid $dkgrey;
    display: flex;
    width: 100%;
}

// bottom navigation code 

div {
    flex-basis: 33%;
    text-align: center;
   
}


div a {
    display: block;
    font-size: 1.8rem;
    padding: .5rem 0;
    color: black;
    width: 100%;
}

div a p {
    font-size: 1rem;
}


div a:hover {
    background-color: $secondary;
    color: white;
}

div.active a:hover {
    background-color: $secondary;
    color: white;
}

div.active a {
    background-color: $primary;
    color: white;
}


// end of bottom navigation code //




/* Main album */

main.album {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 0;


    div.column {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
       background-color: #663d32;
        color: white;
    }


    figure.photo {
         width: 90%; 
         margin: .5rem auto;
        }
    figure.photo img {width: 100%;
    border-radius: 1rem;
    }
    figure figcaption {
        text-align: left; 
        margin-left: 1.5rem;
        margin-top: -2.5rem;
        font-size: 1.7rem;
        color: white;
        text-shadow: 4px 3px 2px black;

    }
    

div.row {
    display: flex;
    flex-direction: row;
    margin: .5rem 1.5rem;
}


ul {
    padding-right: 1rem;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 12%;
}


ul li {
    list-style-type: none;
    text-align: left;
    font-size: .9rem;
}

.fa {
font-size: 3.4rem;
}


p {
    margin-top: 1.3rem;
    margin-left: 5px;
}


} // end of main







